body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: xx-large;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
}
.container{
    background: linear-gradient(135deg, #00feba,#5b548a);
    border-radius: 10px;
    padding: 100px;
    text-align: center;
    color: white;
}
input{
    border-radius: 20px;
    height: 3vh;
    background-color: rgb(235, 251, 252);
    font-size: xx-large;
    color: black;
}
button{
    height: 3vh;
    border-radius: 10px;
    font-size: x-large;
}
.display{
    display: flex;
    justify-content: space-between;
}
.image{
    display: flex;
    justify-content: center;
}